body{
background-color: rgb(0, 0, 0);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
}

a{
	text-decoration: none;
	color:rgb(119, 0, 255);
	font-weight: 600;
	padding-right: 60px;
	font-size: 25px;
	padding-bottom: 0;
}

a:hover{
	color: black;
}

header{
	display: flex;
	height: 80px;
	background-color: rgb(255, 255, 255);
	align-items: center;
	padding: 10px;
    list-style: none;
}

.logo{
	display: flex;
	align-items: center;
	margin-right: 50px;
	font-weight: 600;
	font-size: 30px;
}

.logo img{
	height: 70px;
	align-items: center;
	margin-left: 80px;
	margin-right: 10px;
}

.form{
    width: 500px;
    margin-left: 50px;
    background: rgba(72, 72, 99, 0.9); 
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 10px;
    animation: neonBorder 5s linear infinite; /*llama la condicion de animacion*/
}
/* Animación del borde neón */
@keyframes neonBorder {
    0% {
        box-shadow: 0 0 20px #3700ff, 0 0 40px #3700ff 0 0 60px #3700ff;
        border: 1px solid #3700ff;
    }
    25% {
        box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
        border: 1px solid #00ffff;
    }
    50% {
        box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
        border: 1px solid #00ff00;
    }
    75% {
        box-shadow: 0 0 20px #ffff00, 0 0 40px #ffff00, 0 0 60px #ffff00;
        border: 1px solid #ffff00;
    }
    100% {
        box-shadow: 0 0 20px #3700ff, 0 0 40px #3700ff, 0 0 60px #3700ff;
        border: 1px solid #3700ff;
    }
}

.container h2{
    font-size: 40px;
    margin-left: 45px;
    margin-bottom: 5px;
    color: rgb(243, 212, 173);
}

.container p{
    font-size: 23px;
    margin-left: 60px;
    margin-bottom: 30px;
    color: rgb(243, 212, 173);
}

.text{
    margin-left: 50px;
}

.caja{
    margin-left: 110px;
    padding: 5px;
    width: 55%;
}

.imglogin{
    flex: 1;
    display: flex;
    justify-content:center;
}

.imglogin img {
    width: 99%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.8s;
    justify-content: center;
    margin-top: 20px;
    animation: neonBorder 5s linear infinite; /*llama la condicion de animacion*/
}

/* Animación del borde neón */
@keyframes neonBorder {
    0% {
        box-shadow: 0 0 20px #3700ff, 0 0 40px #3700ff, 0 0 60px #3700ff;
        border: 1px solid #3700ff;
    }
    25% {
        box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
        border: 1px solid #00ffff;
    }
    50% {
        box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
        border: 1px solid #00ff00;
    }
    75% {
        box-shadow: 0 0 20px #ffff00, 0 0 40px #ffff00, 0 0 60px #ffff00;
        border: 1px solid #ffff00;
    }
    100% {
        box-shadow: 0 0 20px #3700ff, 0 0 40px #3700ff, 0 0 60px #3700ff;
        border: 1px solid #3700ff;
    }
}

.imglogin img:hover {
    transition: all 0.6s;
    filter: brightness(40%);
}

.container{
    display: flex;              
    justify-content: space-between;
    align-items: flex-start;
      
}

.container button{
    margin-left: 110px;
    padding: 5px;
    width: 58%;
    margin-top: 10px;
    height: 40px;   
    border-radius: 10px;
    transition: all 0.8s;
    font-size: 17px;
}

.container button:hover{
    transition: all 0.6s;
    filter: brightness(40%);
}

.container a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 100px;
    margin-top: 5px;
}

.container a:hover{
    color: blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*  alinear labels con los inputs .caja */
.form label {
  display: block;
  margin-left: 110px;   /* mismo margen que .caja */
  margin-bottom: 6px;
  color: #fff;          /* opcional: color del label */
  font-size: 16px;
}


