body{
background-color: rgb(255, 255, 255);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0; 
background: url(../img/imgfondo2.jpg);
background-size: 70%;
}

a{
	text-decoration: none;
	color:rgb(119, 0, 255);
	font-weight: 600;
	padding-right: 60px;
	font-size: 25px;
	padding-bottom: 0;
}

a:hover{
	color: rgb(0, 0, 0);
}

header{
	display: flex;
	height: 80px;
	background-color: rgb(255, 255, 255);
	align-items: center;
	padding: 10px;
    list-style: none;
}

.logo{
	display: flex;
	align-items: center;
	margin-right: 50px;
	font-weight: 600;
	font-size: 30px;
}

.logo img{
	height: 70px;
	align-items: center;
	margin-left: 80px;
	margin-right: 10px;
}

.form{
    width: 500px;
    background: linear-gradient(135deg, #494949, #1a1a1a);
    box-shadow: 0 0 15px #666, 0 0 25px #272424;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 7px 13px 37px rgb(10, 10, 65);
    margin-bottom: 70px;
}

.form h2{
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(252, 231, 231);
}

.form p{
    font-size: 25px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
    color: rgb(252, 231, 231);

}

.caja{
    width: 480px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
}

.form a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.form a:hover{
    color: rgb(3, 3, 3);
    text-decoration: underline;
}

.form h1{
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: rgb(252, 231, 231);
}

.form button {
    background: linear-gradient(90deg, #292955, #111330);
    border: none;
    color: #fff;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-weight:800;
    transition: 0.3s;
   
}

.form button:hover {
    box-shadow: 0 0 20px #00eaff, 0 0 40px #a020f0;
}
